modules = ["java-graalvm22.3", "web", "nodejs-22"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "frontend"

[[workflows.workflow]]
name = "frontend"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "java -jar api/build/libs/api.war --spring.profiles.active=dev"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 34817
externalPort = 3000

[deployment]
deploymentTarget = "autoscale"
run = ["java", "-jar", "api/build/libs/api.war", "--spring.profiles.active=dev"]
build = ["./gradlew", "clean", "build", "-x", "test"]
