server:
  port: 8080

spring:
  application:
        name: api

  config:
      activate:
        on-profile: dev

  datasource:
    url: jdbc:h2:mem:aiqdb;DB_CLOSE_DELAY=-1;MODE=MySQL
    driver-class-name: org.h2.Driver
    username: sa
    password: sa
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

openai:
  api:
    key: ${OPENAI_API_KEY:}